ass1/task1.bin
ass3/a.out
ass3/bubblesort.c
ass3/exampleFile.txt
ass3/main1.c
ass3/Makefile
ass3/Task0/Makefile
ass3/Task0/task0.c
Labs/Lab4.zip
Labs/Lab5.zip
Labs/Lab3/snapshot1.png
Labs/Lab3/Task0/a.out
Labs/Lab3/Task0/bubblesort.c
Labs/Lab3/Task0/Makefile
Labs/Lab3/Task01/a.out
Labs/Lab3/Task01/exampleFile
Labs/Lab3/Task01/hexaPrint.c
Labs/Lab3/Task01/Makefile
Labs/Lab3/Task1/.nfs0000000000dc46870000012d
Labs/Lab3/Task1/.nfs0000000000dc468a00000133
Labs/Lab3/Task1/301722542.zip
Labs/Lab3/Task1/a.out
Labs/Lab3/Task1/Makefile
Labs/Lab3/Task1/signatures
Labs/Lab3/Task1/task1
Labs/Lab3/Task1/task1c.c
Labs/Lab3/Task1/a.out.dSYM/Contents/Info.plist
Labs/Lab3/Task1/a.out.dSYM/Contents/Resources/DWARF/a.out
Labs/Lab3/Task2/.nfs0000000000dc46870000012d
Labs/Lab3/Task2/.nfs0000000000dc468a00000133
Labs/Lab3/Task2/a.out
Labs/Lab3/Task2/infected
Labs/Lab3/Task2/Makefile
Labs/Lab3/Task2/signatures
Labs/Lab3/Task2/task1
Labs/Lab3/Task2/task1.c
Labs/Lab4/Task0a/greeting
Labs/Lab4/Task0a/main.
Labs/Lab4/Task0a/main.c
Labs/Lab4/Task0a/makefile
Labs/Lab4/Task0a/start.s
Labs/Lab4/Task0a/util.c
Labs/Lab4/Task0a/util.h
Labs/Lab4/Task1/greeting
Labs/Lab4/Task1/main.
Labs/Lab4/Task1/main.c
Labs/Lab4/Task1/main.o
Labs/Lab4/Task1/makefile
Labs/Lab4/Task1/start.o
Labs/Lab4/Task1/start.s
Labs/Lab4/Task1/task1
Labs/Lab4/Task1/task1c.c
Labs/Lab4/Task1/test.txt
Labs/Lab4/Task1/util.c
Labs/Lab4/Task1/util.h
Labs/Lab4/Task1/util.o
Labs/Lab5/LineParser.c
Labs/Lab5/LineParser.h
Labs/Lab5/Task0/LineParser.c
Labs/Lab5/Task0/LineParser.h
Labs/Lab5/Task0/LineParser.o
Labs/Lab5/Task0/makefile
Labs/Lab5/Task0/task0
Labs/Lab5/Task0/task0.c
Labs/Lab5/Task0/task0.o
Labs/Lab5/Task1/LineParser.c
Labs/Lab5/Task1/LineParser.h
Labs/Lab5/Task1/LineParser.o
Labs/Lab5/Task1/makefile
Labs/Lab5/Task1/task0
Labs/Lab5/Task1/task0.c
Labs/Lab5/Task1/task0.o
Labs/Lab5/Task2/LineParser.c
Labs/Lab5/Task2/LineParser.h
Labs/Lab5/Task2/LineParser.o
Labs/Lab5/Task2/makefile
Labs/Lab5/Task2/task0
Labs/Lab5/Task2/task0.c
Labs/Lab5/Task2/task0.o
Labs/Labs/Lab3_301013777_2.zip
Labs/Labs/Lab4_301013777.zip
Labs/Labs/Lab4_301013777_2.zip
Labs/Labs/Lab6_301013777.zip
Labs/Labs/Lab1/301013777.zip
Labs/Labs/Lab1/ass0/makefile
Labs/Labs/Lab1/ass0/src/add.s
Labs/Labs/Lab1/ass0/src/main.c
Labs/Labs/Lab1/ass0/src/numbers.c
Labs/Labs/Lab1/ass1.a/makefile
Labs/Labs/Lab1/ass1.a/src/main.c
Labs/Labs/Lab1/ass1.b/makefile
Labs/Labs/Lab1/ass1.b/src/main.c
Labs/Labs/Lab1/ass1.c/makefile
Labs/Labs/Lab1/ass1.c/src/main.c
Labs/Labs/Lab1/ass2/makefile
Labs/Labs/Lab1/ass2/src/main.c
Labs/Labs/Lab2/Lab2_301013777.zip
Labs/Labs/Lab2/task0/count-words
Labs/Labs/Lab2/task0/count-words.c
Labs/Labs/Lab2/task0/count-words.o
Labs/Labs/Lab2/task0/count-words_with_bug.c
Labs/Labs/Lab2/task0/makefile
Labs/Labs/Lab2/task1/1a/addresses
Labs/Labs/Lab2/task1/1a/addresses.c
Labs/Labs/Lab2/task1/1a/addresses.o
Labs/Labs/Lab2/task1/1a/makefile
Labs/Labs/Lab2/task2/makefile
Labs/Labs/Lab2/task2/task2
Labs/Labs/Lab2/task2/task2.c
Labs/Labs/Lab2/task2/task2.o
Labs/Labs/Lab2/task3/makefile
Labs/Labs/Lab2/task3/menu
Labs/Labs/Lab2/task3/task3.c
Labs/Labs/Lab2/task3/task3.o
Labs/Labs/Lab3/Task0/bubb
Labs/Labs/Lab3/Task0/bubble.o
Labs/Labs/Lab3/Task0/bubblesort.c
Labs/Labs/Lab3/Task0/exmapleFile
Labs/Labs/Lab3/Task0/Task0
Labs/Labs/Lab3/Task0/Task0.c
Labs/Labs/Lab3/Task0/Task0.o
Labs/Labs/Lab3/Task1/b_virusDetector.c
Labs/Labs/Lab3/Task1/realvirusDetector.c
Labs/Labs/Lab3/Task1/signatures
Labs/Labs/Lab3/Task1/virusDetector
Labs/Labs/Lab3/Task1/virusDetector.c
Labs/Labs/Lab3/Task1/virusDetector.o
Labs/Labs/Lab3/Task1.b/signatures
Labs/Labs/Lab3/Task1.b/virusDetector
Labs/Labs/Lab3/Task1.b/virusDetector.c
Labs/Labs/Lab3/Task1.b/virusDetector.o
Labs/Labs/Lab3/Task1.b/old/backup_virusDetector.c
Labs/Labs/Lab3/Task1.b/old/virusDetector
Labs/Labs/Lab3/Task1.b/old/virusDetector.c
Labs/Labs/Lab3/Task1.b/old/virusDetector.o
Labs/Labs/Lab3/Task1.c/infected
Labs/Labs/Lab3/Task1.c/patched_infected
Labs/Labs/Lab3/Task1.c/signatures
Labs/Labs/Lab3/Task1.c/virusDetector
Labs/Labs/Lab3/Task1.c/virusDetector.c
Labs/Labs/Lab3/Task1.c/virusDetector.o
Labs/Labs/Lab3/Task1.c/old/backup_virusDetector.c
Labs/Labs/Lab3/Task1.c/old/virusDetector
Labs/Labs/Lab3/Task1.c/old/virusDetector.c
Labs/Labs/Lab3/Task1.c/old/virusDetector.o
Labs/Labs/Lab3/Task2/infected
Labs/Labs/Lab3/Task2/infected_Patched
Labs/Labs/Lab3/Task2/signatures
Labs/Labs/Lab3/Task2/virusDetector
Labs/Labs/Lab4/0/main.c
Labs/Labs/Lab4/0/main.o
Labs/Labs/Lab4/0/makefile
Labs/Labs/Lab4/0/start.o
Labs/Labs/Lab4/0/start.s
Labs/Labs/Lab4/0/task0
Labs/Labs/Lab4/0/util.c
Labs/Labs/Lab4/0/util.h
Labs/Labs/Lab4/0/util.o
Labs/Labs/Lab4/1/a/line_splitter
Labs/Labs/Lab4/1/a/makefile
Labs/Labs/Lab4/1/a/src/main.c
Labs/Labs/Lab4/1/a/src/start.s
Labs/Labs/Lab4/1/b/i3
Labs/Labs/Lab4/1/b/line_splitter
Labs/Labs/Lab4/1/b/makefile
Labs/Labs/Lab4/1/b/outFileResult
Labs/Labs/Lab4/1/b/bin/main.o
Labs/Labs/Lab4/1/b/bin/start.o
Labs/Labs/Lab4/1/b/bin/util.o
Labs/Labs/Lab4/1/b/src/main.c
Labs/Labs/Lab4/1/b/src/start.s
Labs/Labs/Lab4/1/b/src/util.c
Labs/Labs/Lab4/1/b/src/util.h
Labs/Labs/Lab4/2/a/flame2a
Labs/Labs/Lab4/2/a/makefile
Labs/Labs/Lab4/2/a/bin/main.o
Labs/Labs/Lab4/2/a/bin/start.o
Labs/Labs/Lab4/2/a/bin/util.o
Labs/Labs/Lab4/2/a/src/main.c
Labs/Labs/Lab4/2/a/src/start.s
Labs/Labs/Lab4/2/a/src/test.c
Labs/Labs/Lab4/2/a/src/util.c
Labs/Labs/Lab4/2/a/src/util.h
Labs/Labs/Lab4/2/b/flame2a
Labs/Labs/Lab4/2/b/makefile
Labs/Labs/Lab4/2/b/bin/main.o
Labs/Labs/Lab4/2/b/bin/start.o
Labs/Labs/Lab4/2/b/bin/util.o
Labs/Labs/Lab4/2/b/src/flame2a
Labs/Labs/Lab4/2/b/src/main.c
Labs/Labs/Lab4/2/b/src/main.o
Labs/Labs/Lab4/2/b/src/start.o
Labs/Labs/Lab4/2/b/src/start.s
Labs/Labs/Lab4/2/b/src/test.c
Labs/Labs/Lab4/2/b/src/util.c
Labs/Labs/Lab4/2/b/src/util.h
Labs/Labs/Lab4/2/b/src/util.o
Labs/Labs/Lab4/2/c/b_infected
Labs/Labs/Lab4/2/c/flame2a
Labs/Labs/Lab4/2/c/infected
Labs/Labs/Lab4/2/c/makefile
Labs/Labs/Lab4/2/c/bin/main.o
Labs/Labs/Lab4/2/c/bin/start.o
Labs/Labs/Lab4/2/c/bin/util.o
Labs/Labs/Lab4/2/c/src/backup_test.c
Labs/Labs/Lab4/2/c/src/main.c
Labs/Labs/Lab4/2/c/src/start.s
Labs/Labs/Lab4/2/c/src/test.c
Labs/Labs/Lab4/2/c/src/util.c
Labs/Labs/Lab4/2/c/src/util.h
Labs/Labs/Lab5/Lab5.zip
Labs/Labs/Lab5/LineParser.c
Labs/Labs/Lab5/LineParser.h
Labs/Labs/Lab5/Lab5/LineParser.c
Labs/Labs/Lab5/Lab5/LineParser.h
Labs/Labs/Lab5/Lab5/Task0/LineParser.c
Labs/Labs/Lab5/Lab5/Task0/LineParser.h
Labs/Labs/Lab5/Lab5/Task0/LineParser.o
Labs/Labs/Lab5/Lab5/Task0/makefile
Labs/Labs/Lab5/Lab5/Task0/task0
Labs/Labs/Lab5/Lab5/Task0/task0.c
Labs/Labs/Lab5/Lab5/Task0/task0.o
Labs/Labs/Lab5/Lab5/Task1/a/LineParser.c
Labs/Labs/Lab5/Lab5/Task1/a/LineParser.h
Labs/Labs/Lab5/Lab5/Task1/a/LineParser.o
Labs/Labs/Lab5/Lab5/Task1/a/makefile
Labs/Labs/Lab5/Lab5/Task1/a/task0
Labs/Labs/Lab5/Lab5/Task1/a/task0.c
Labs/Labs/Lab5/Lab5/Task1/a/task0.o
Labs/Labs/Lab5/Lab5/Task1/b/LineParser.c
Labs/Labs/Lab5/Lab5/Task1/b/LineParser.h
Labs/Labs/Lab5/Lab5/Task1/b/LineParser.o
Labs/Labs/Lab5/Lab5/Task1/b/makefile
Labs/Labs/Lab5/Lab5/Task1/b/task0
Labs/Labs/Lab5/Lab5/Task1/b/task0.c
Labs/Labs/Lab5/Lab5/Task1/b/task0.o
Labs/Labs/Lab5/Lab5/Task1/c/LineParser.c
Labs/Labs/Lab5/Lab5/Task1/c/LineParser.h
Labs/Labs/Lab5/Lab5/Task1/c/LineParser.o
Labs/Labs/Lab5/Lab5/Task1/c/makefile
Labs/Labs/Lab5/Lab5/Task1/c/task0
Labs/Labs/Lab5/Lab5/Task1/c/task0.c
Labs/Labs/Lab5/Lab5/Task1/c/task0.o
Labs/Labs/Lab5/Lab5/Task1/d/LineParser.c
Labs/Labs/Lab5/Lab5/Task1/d/LineParser.h
Labs/Labs/Lab5/Lab5/Task1/d/LineParser.o
Labs/Labs/Lab5/Lab5/Task1/d/makefile
Labs/Labs/Lab5/Lab5/Task1/d/task0
Labs/Labs/Lab5/Lab5/Task1/d/task0.c
Labs/Labs/Lab5/Lab5/Task1/d/task0.o
Labs/Labs/Lab5/Lab5/Task1/e/LineParser.c
Labs/Labs/Lab5/Lab5/Task1/e/LineParser.h
Labs/Labs/Lab5/Lab5/Task1/e/LineParser.o
Labs/Labs/Lab5/Lab5/Task1/e/makefile
Labs/Labs/Lab5/Lab5/Task1/e/task0
Labs/Labs/Lab5/Lab5/Task1/e/task0.c
Labs/Labs/Lab5/Lab5/Task1/e/task0.o
Labs/Labs/Lab5/Task0/LineParser.c
Labs/Labs/Lab5/Task0/LineParser.h
Labs/Labs/Lab5/Task0/LineParser.o
Labs/Labs/Lab5/Task0/makefile
Labs/Labs/Lab5/Task0/task0.c
Labs/Labs/Lab5/Task0/task0.o
Labs/Labs/Lab5/Task0/task0.out
Labs/Labs/Lab6/Task1/LineParser.c
Labs/Labs/Lab6/Task1/LineParser.h
Labs/Labs/Lab6/Task1/LineParser.o
Labs/Labs/Lab6/Task1/makefile
Labs/Labs/Lab6/Task1/task0
Labs/Labs/Lab6/Task1/task0.c
Labs/Labs/Lab6/Task1/task0.o
Labs/Labs/Lab6/Task2/makefile
Labs/Labs/Lab6/Task2/task0
Labs/Labs/Lab6/Task2/task0.c
Labs/Labs/Lab6/Task2/task0.o
Labs/Labs/Lab6/Task3/in.txt
Labs/Labs/Lab6/Task3/LineParser.c
Labs/Labs/Lab6/Task3/LineParser.h
Labs/Labs/Lab6/Task3/LineParser.o
Labs/Labs/Lab6/Task3/makefile
Labs/Labs/Lab6/Task3/out.txt
Labs/Labs/Lab6/Task3/task0
Labs/Labs/Lab6/Task3/task0.c
Labs/Labs/Lab6/Task3/task0.o
Labs/Labs/Lab6/Task4/LineParser.c
Labs/Labs/Lab6/Task4/LineParser.h
Labs/Labs/Lab6/Task4/LineParser.o
Labs/Labs/Lab6/Task4/makefile
Labs/Labs/Lab6/Task4/out.txt
Labs/Labs/Lab6/Task4/r.txt
Labs/Labs/Lab6/Task4/task0
Labs/Labs/Lab6/Task4/task0.c
Labs/Labs/Lab6/Task4/task0.o
Labs/Labs/Lab6_completion/Lab6_new_task4_working.zip
Labs/Labs/Lab6_completion/Lab6/Task4.zip
Labs/Labs/Lab6_completion/Lab6/Task1/LineParser.c
Labs/Labs/Lab6_completion/Lab6/Task1/LineParser.h
Labs/Labs/Lab6_completion/Lab6/Task1/LineParser.o
Labs/Labs/Lab6_completion/Lab6/Task1/makefile
Labs/Labs/Lab6_completion/Lab6/Task1/task0
Labs/Labs/Lab6_completion/Lab6/Task1/task0.c
Labs/Labs/Lab6_completion/Lab6/Task1/task0.o
Labs/Labs/Lab6_completion/Lab6/Task2/makefile
Labs/Labs/Lab6_completion/Lab6/Task2/task0
Labs/Labs/Lab6_completion/Lab6/Task2/task0.c
Labs/Labs/Lab6_completion/Lab6/Task2/task0.o
Labs/Labs/Lab6_completion/Lab6/Task3/in.txt
Labs/Labs/Lab6_completion/Lab6/Task3/LineParser.c
Labs/Labs/Lab6_completion/Lab6/Task3/LineParser.h
Labs/Labs/Lab6_completion/Lab6/Task3/LineParser.o
Labs/Labs/Lab6_completion/Lab6/Task3/makefile
Labs/Labs/Lab6_completion/Lab6/Task3/out.txt
Labs/Labs/Lab6_completion/Lab6/Task3/task0
Labs/Labs/Lab6_completion/Lab6/Task3/task0.c
Labs/Labs/Lab6_completion/Lab6/Task3/task0.o
Labs/Labs/Lab6_completion/Lab6/Task4/LineParser.c
Labs/Labs/Lab6_completion/Lab6/Task4/LineParser.h
Labs/Labs/Lab6_completion/Lab6/Task4/LineParser.o
Labs/Labs/Lab6_completion/Lab6/Task4/makefile
Labs/Labs/Lab6_completion/Lab6/Task4/task0
Labs/Labs/Lab6_completion/Lab6/Task4/task0.c
Labs/Labs/Lab6_completion/Lab6/Task4/task0.o
Labs/Labs/Lab6_completion/Lab6/Task4_old/LineParser.c
Labs/Labs/Lab6_completion/Lab6/Task4_old/LineParser.h
Labs/Labs/Lab6_completion/Lab6/Task4_old/LineParser.o
Labs/Labs/Lab6_completion/Lab6/Task4_old/makefile
Labs/Labs/Lab6_completion/Lab6/Task4_old/out.txt
Labs/Labs/Lab6_completion/Lab6/Task4_old/r.txt
Labs/Labs/Lab6_completion/Lab6/Task4_old/task0
Labs/Labs/Lab6_completion/Lab6/Task4_old/task0.c
Labs/Labs/Lab6_completion/Lab6/Task4_old/task0.o
Labs/Labs/Lab7/1a/editor.c
Labs/Labs/Lab7/1a/editor.o
Labs/Labs/Lab7/1a/makefile
Labs/Labs/Lab7/Task0/a.out
Labs/Labs/Lab7/Task0/editor
Labs/Labs/Lab7/Task0/editor.c
Labs/Labs/Lab7/Task0/editor.o
Labs/Labs/Lab7/Task0/makefile
Labs/Labs/Lab7/Task0/OLD!!!task3.c
Labs/Labs/Lab8/Task0/makefile
Labs/Labs/Lab8/Task0/task0
Labs/Labs/Lab8/Task0/task0.c
Labs/Labs/Lab8/Task0/task0.o
Labs/Labs/Lab8/Task1/task0.c
Labs/Labs/temp/Lab3_301013777.zip
Labs/Labs/temp/Lab8/old/Task0/makefile
Labs/Labs/temp/Lab8/old/Task0/task0
Labs/Labs/temp/Lab8/old/Task0/task0.c
Labs/Labs/temp/Lab8/old/Task0/task0.o
Labs/Labs/temp/Lab8/old/Task1/makefile
Labs/Labs/temp/Lab8/old/Task1/task0
Labs/Labs/temp/Lab8/old/Task1/task0.c
Labs/Labs/temp/Lab8/old/Task1/task0.o
Labs/Labs/temp/Lab8/Task0/task0.c
Labs/Labs/temp/Lab8/Task1/task0.c
Labs/Labs/temp/Lab8/Task2/task0.c
Labs/Labs/temp/Lab8/Task3/task0.c
Labs/Labs/temp/old/LineParser.c
Labs/Labs/temp/old/LineParser.h
Labs/Labs/temp/old/LineParser.o
Labs/Labs/temp/old/makefile
Labs/Labs/temp/old/task0
Labs/Labs/temp/old/task0.c
Labs/Labs/temp/old/task0.o
ass2/plus.id0
ass2/plus.id1
ass2/plus.nam
ass2/plus.til
